.header {
  margin-top: 40px;
  font-family: sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50vh;
}

.img {
  object-fit: contain;
  width: 80%;
  max-height: 400px;
  margin: auto;
  display: flex;
}
